
<ul class="breadcrumb">
  <li><a href="#/">Articles</a></li>
  <li class="active">{{post.name}}</li>
</ul>
<a href="#/">Revenir aux articles</a>

<div ng-hide="load">

<h1>{{post.name}}</h1>
<p>{{post.content}}</p>
<h3>{{comment.length}} Commentaires </h3>

<div ng-repeat="comment2 in comments | filter:{username:query} | orderBy:order">
  <ng-comment comment="comment2" select="selectComment"></ng-comment>
</div>

<time></time>

<form ng-submit="addComment()">
  <h3>Ajouter un commentaire</h3>
  <div class="form-group">
  <input class="form-control" type="text" placeholder="username" ng-model="newComment.username">
  </div>
  <div class="form-group">
  <input class="form-control" type="text" placeholder="city" ng-model="newComment.city">
  </div>
  <div class="form-group">
  <input class="form-control" type="text" placeholder="email" ng-model="newComment.email">
  </div>
  <div class="form-group">
  <textarea class="form-control" ng-model="newComment.content"></textarea>
  </div>
  <input class="btn btn-primary" type="submit" value="Envoyer">
</form>


</div>
